.form-check .form-check-input{
    float: none;
}

.form-label{
    text-align: center;
}

.centered{
    text-align: center;
}

.fitcontent{
    display: inline-block;
    text-align: center;
}

#gamecontainer{
    margin-top: 20px;
    max-width: 50%;
    min-width: 500px;
}

.guesscol{
    width: 48px;
    height: 48px;
}

.linebtn{
    width: 56px;
    height: 56px;
    margin: 4px;
    border: 1px solid #e8e8e8;
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 1px;
}

.linebtn:hover{
    opacity: 0.5;
}

.linebtn:active{
    border: 1px solid black;
}

.guesscell{
    text-align: center;
}

.guesscellcontainer{
    border-radius: 5px;
    text-align: center;
    padding: 4px;
}

.bottombutton{
    margin: 10px;
}

#helpbutton{
    margin-right: 10px;
}

#databutton{
    margin-right: 10px;
    padding-bottom: 9px;
}

.img-help{
    max-width: 65%;
}