{% extends "layout.html" %}

{% block title %}
    Set Daily Routes
{% endblock %}

{% block modalheader %}
    Welcome to the MHDle Admin Panel!
{% endblock %}

{% block modalbody %}
    Loads a interesting shite to do here!
{% endblock %}

{% block main %}
    Herro
    <div class="row">
        <div class="col bottombutton">
            <div class="row">
                <button id="admin_addroute" type="submit" class="btn btn-primary" onclick="deleteLine()">Delete</button>
            </div>
        </div>
        <div class="col bottombutton">
            <div class="row">
                <button id="admin_deleteroute" type="button" class="btn btn-primary" onclick="verifyEntry()">Submit</button>
            </div>
        </div>
    </div>
{% endblock %}

