{% extends "layout.html" %}

{% block title %}
    Custom Route
{% endblock %}

{% block modalheader %}
    Generate a new route according to the conditions you choose!
{% endblock %}

{% block modalbody %}
    <strong>Route Areas:</strong> <br> Select the city parts you want the route to generate in. 
    Note that this setting only restricts points of transfer: it remains entirely possible for a service in the route to travel through a city part that isn't selected.
    As such, it remains possible to generate a route from one city part into a non-neighbouring one, as long as the route doesn't transfer anywhere within an excluded city part.
    <br>

    <strong>Route Length:</strong> <br> Select how many services will be included in your route: i.e. how many lines you will guess.
    The amount of transfers will always be 1 less than the route length.
    <br>

    <strong>Number of Guesses:</strong> <br> Select how many guesses, relative to the selected route length, will you be allowed to make.
    Since longer routes are harder to guess and shorter routes are easier to guess, for every 1 increase (or decrease) of route length, the number of guesses will also increase (or decrease) by 1.
    For a length 3 route, the default is 6 guesses. The easiest setting leaves 8 (6+2) guesses, and the hardest setting leaves 4 (6-2) guesses.
    For the easiest setting on a length 6 route, you will have the maximum (11) number of guesses possible.
    For the hardest setting on a length 1 route, you will have the minimum (2) number of guesses possible.
    <br>

    <strong>Use Grey Lines:</strong> <br> Select if the lines labeled with a grey icon are allowed.
    These lines make up over half of the services provided by DP Bratislava, and generally run niche and infrequent services.
    As such, unless you live nearby one of these services or use them on a regular basis, you probably don't know their service pattern. 
    As working with all lines to find a route would be frustrating for most people, this setting is off by default.

{% endblock %}


{% block main %}
    <form class="text-center" action="/custom" method="post">
        <div class="row">
            <div class="col leftcolumn">
                <div class="mb-3 fitcontent">
                    <label for="areaselect" class="form-label">Route Areas</label>
                    <br>
                    <div class="btn-group-vertical" role="group" id="areaselect" aria-label="Select which Bratislava districts to generate route in">
                        <input type="checkbox" class="btn-check" id="areastaremesto" name="area" value="staremesto" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="areastaremesto">Staré Mesto</label>
                    
                        <input type="checkbox" class="btn-check" id="arearuzinov" name="area" value="ruzinov" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="arearuzinov">Ružinov</label>
                    
                        <input type="checkbox" class="btn-check" id="areanovemesto" name="area" value="novemesto" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="areanovemesto">Nové Mesto</label>

                        <input type="checkbox" class="btn-check" id="areakarlovaves" name="area" value="karlovaves" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="areakarlovaves">Karlova Ves</label>

                        <input type="checkbox" class="btn-check" id="areapetrzalka" name="area" value="petrzalka" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="areapetrzalka">Petržalka</label>

                        <input type="checkbox" class="btn-check" id="areavrakuna" name="area" value="vrakuna" autocomplete="off">
                        <label class="btn btn-outline-primary" for="areavrakuna">Vrakuňa</label>

                        <input type="checkbox" class="btn-check" id="areapodunajskebiskupice" name="area" value="podunajskebiskupice" autocomplete="off">
                        <label class="btn btn-outline-primary" for="areapodunajskebiskupice">Podunajské Biskupice</label>

                        <input type="checkbox" class="btn-check" id="arearaca" name="area" value="raca" autocomplete="off">
                        <label class="btn btn-outline-primary" for="arearaca">Rača</label>

                        <input type="checkbox" class="btn-check" id="areavajnory" name="area" value="vajnory" autocomplete="off">
                        <label class="btn btn-outline-primary" for="areavajnory">Vajnory</label>

                        <input type="checkbox" class="btn-check" id="areadubravka" name="area" value="dubravka" autocomplete="off">
                        <label class="btn btn-outline-primary" for="areadubravka">Dubravka</label>

                        <input type="checkbox" class="btn-check" id="arealamac" name="area" value="lamac" autocomplete="off">
                        <label class="btn btn-outline-primary" for="arealamac">Lamač</label>

                        <input type="checkbox" class="btn-check" id="areadevin" name="area" value="devin" autocomplete="off">
                        <label class="btn btn-outline-primary" for="areadevin">Devín</label>

                        <input type="checkbox" class="btn-check" id="areadevinskanovaves" name="area" value="devinskanovaves" autocomplete="off">
                        <label class="btn btn-outline-primary" for="areadevinskanovaves">Devínska Nová Ves</label>

                        <input type="checkbox" class="btn-check" id="areazahorskabystrica" name="area" value="zahorskabystrica" autocomplete="off">
                        <label class="btn btn-outline-primary" for="areazahorskabystrica">Záhorská Bystrica</label>

                        <input type="checkbox" class="btn-check" id="areajarovce" name="area" value="jarovce" autocomplete="off">
                        <label class="btn btn-outline-primary" for="areajarovce">Jarovce</label>

                        <input type="checkbox" class="btn-check" id="arearusovce" name="area" value="rusovce" autocomplete="off">
                        <label class="btn btn-outline-primary" for="arearusovce">Rusovce</label>

                        <input type="checkbox" class="btn-check" id="areacunovo" name="area" value="cunovo" autocomplete="off">
                        <label class="btn btn-outline-primary" for="areacunovo">Čunovo</label>
                    </div>
                </div>
            </div>

            <div class="col rightcolumn">
                <div class="fitcontent">
                    <div class="mb-3">
                        <label for="lengthselect" class="form-label">Route Length</label>
                        <br>
                        <div class="btn-group" role="group" id="lengthselect" aria-label="Select length of route to generate">
                            <input type="radio" class="btn-check" name="btnroute" value="1" id="length1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="length1">1</label>

                            <input type="radio" class="btn-check" name="btnroute" value="2" id="length2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="length2">2</label>
                        
                            <input type="radio" class="btn-check" name="btnroute" value="3" id="length3" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="length3">3</label>
                        
                            <input type="radio" class="btn-check" name="btnroute" value="4" id="length4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="length4">4</label>

                            <input type="radio" class="btn-check" name="btnroute" value="5" id="length5" autocomplete="off">
                            <label class="btn btn-outline-primary" for="length5">5</label>

                            <input type="radio" class="btn-check" name="btnroute" value="6" id="length6" autocomplete="off">
                            <label class="btn btn-outline-primary" for="length6">6</label>
                        </div>
                        <div id="lengthHelp" class="form-text">Select how many lines will make up the route you guess.</div>
                    </div>

                    <br>

                    <div class="mb-3">
                        <label for="sizeselect" class="form-label">Number of Guesses (Default for a length 3 route is 6 guesses)</label>
                        <br>
                        <div class="btn-group-vertical" role="group" id="sizeselect" aria-label="Select length of route to generate">
                            <input type="radio" class="btn-check" name="btnguess" value="+2" id="easiest" autocomplete="off">
                            <label class="btn btn-outline-primary" for="easiest">+2 (Easiest)</label>

                            <input type="radio" class="btn-check" name="btnguess" value="+1" id="easy" autocomplete="off">
                            <label class="btn btn-outline-primary" for="easy">+1 (Easy)</label>
                        
                            <input type="radio" class="btn-check" name="btnguess" value="0" id="default" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="default">0 (Default Value)</label>
                        
                            <input type="radio" class="btn-check" name="btnguess" value="-1" id="hard" autocomplete="off">
                            <label class="btn btn-outline-primary" for="hard">-1 (Hard)</label>

                            <input type="radio" class="btn-check" name="btnguess" value="-2" id="hardest" autocomplete="off">
                            <label class="btn btn-outline-primary" for="hardest">-2 (Hardest)</label>

                        </div>
                        <div id="guesssizeHelp" class="form-text">Add or remove guesses depending on the difficulty you wish to obtain.</div>
                        <div id="guesssizeHelp" class="form-text">For every change change in route length, the defaut number of guesses changes respectively.</div>
                    </div>

                    <br>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="usegreylines" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Use Grey Lines</label>
                        <div id="checkboxHelp" class="form-text">Allows the route to contain auxiliary lines labeled with a grey icon.</div>
                    </div>
                </div>
            </div>     
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Start Game</button>
        </div>
    </form>
{% endblock %}

