{% extends "layout.html" %}

{% block title %}
    Daily
{% endblock %}

{% block modalheader %}
    Guess the daily MHDle route!
{% endblock %}

{% block modalbody %}
    {% include 'modalbody.html' %}
{% endblock %}

{% block main %}
    <h5 class="centered">Daily MHDle</h5>
    {% include 'gameview.html' %}
    <script src="../static/jquery.js"></script>
    <script type="text/javascript">
        var data = JSON.parse({{ data|tojson|safe }});
        var progress = JSON.parse({{ progress|tojson|safe }});
    </script>
    <script src="../static/game.js"></script>
{% endblock %}