<div id="content" class="container-fluid">
    <div id="task" class="centered">

    </div>
    <div id="gamecontainer" class="container-sm">
        <div id="guessspace" class="text-center">
        </div>
    </div>
    <br>
    <footer>
        <div id="buttoncontainer" class="container-sm">
            <div id="buttonspace" class="text-center">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col bottombutton">
                <div class="row">
                    <button id="gameview_delete" type="submit" class="btn btn-primary " onclick="deleteLine()">Delete</button>
                </div>
            </div>
            <div class="col bottombutton">
                <div class="row">
                    <button id="gameview_submit" type="button" class="btn btn-primary ">Submit</button>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript">
    var data = JSON.parse({{ data|tojson|safe }});
    console.log(data);
    const ROUTELENGTH = data.linelist.length;
    var currentrow = 0
    var currentcolumn = 0
    var guess = []
    const STARTING_NUMBER_OF_GUESSES = 3 + parseInt(data.numberOfGuessesRaw) + parseInt(ROUTELENGTH);
    
    document.getElementById("task").innerHTML = `Travel from ${data.stoplist[0]} to ${data.stoplist[data.stoplist.length - 1]} using ${data.linelist.length - 1} transfers.`;

    for (var i=0; i<STARTING_NUMBER_OF_GUESSES; i++){
        document.getElementById("guessspace").innerHTML += `
            <div id='guessrow_${i}' class='row guessrow mb-2'>
            </div>
        `;
        for (var j=0; j<ROUTELENGTH; j++){
            document.getElementById(`guessrow_${i}`).innerHTML += `
                <div id='guesscell_${i}_${j}' class='col guesscol'>
                    <img src="/../static/other_icons/blankicon.png" alt='placeholder' width='64'>
                </div>
            `;
        }
    }

    for (var i=0; i<data.availablelines.length; i++){
        document.getElementById("buttonspace").innerHTML += `
            <span id='linespan_${data.availablelines[i]}' class='linespan'>
                <button id='linespan_${data.availablelines[i]}' class='linebtn' onclick="clickLine(${data.availablelines[i]})">
                    <img src="/../static/line_icons/line${data.availablelines[i]}.png" alt='Line ${data.availablelines[i]}' width='50'>
                </button>
            </span>
        `;
    }

    function clickLine(line){
        if (guess.length < ROUTELENGTH){
            document.getElementById(`guesscell_${currentrow}_${currentcolumn}`).innerHTML = `
                <img src="/../static/line_icons/line${line}.png" alt='Line ${line}' width='64'>
            `;
            guess.push(line);
            currentcolumn += 1;
        }
    }

    function deleteLine(){
        if (guess.length > 0){
            currentcolumn -= 1;
            document.getElementById(`guesscell_${currentrow}_${currentcolumn}`).innerHTML = `
                <img src="/../static/other_icons/blankicon.png" alt='placeholder' width='64'>
            `;
            guess.pop();
            
        }
    }

    window.addEventListener("keydown", function(event){
        if (event.key === "Backspace"){
            deleteLine();
        }
    })


        
    





    // var list=['q','w','e','r','t','y','u','i','o','p','a','s','d','f','g','h','j','k','l','z','x','c','v','b','n','m'];
    // var guesslist=['foo', 'bar', 'baz']
    // var guesstext=guesslist[randomnum(0,guesslist.length-1)];
    // var htmlfill=""; /*pouzite pre robenie klavesnice, fillne keyboard*/
    // var guessspace=[]; /*List vsetkych characters v <p id="guessspace">. Ak nie je pismeno uhadnute, tak je " _ " Ak je uhadnute, je to to pismeno.*/
    // var incorrectGuesses=1; /* Vzdy o 1 viac ako ozajstny pocet incorrect guesses. Je to tak, kvoli tomu ze som dosral naming tych hang obrazkov ktore pouzivam.*/
    // var correctLetter=0;
    // var winCondition=false; /*pri false sa este hra.*/
    // function start(){	
    //     document.getElementById("startbutton").disabled=true;
    //     for (var i = 0; i<list.length; i++) /* urobi klavesnicu */{
    //         htmlfill+="<button id=\"btn"+list[i]+"\" onclick=\"press('"+list[i]+"')\" class=\"keyboard-button\">"+list[i]+"</button>";
    //         if (list[i]=='p' || list[i]=='l' || list[i]=='m') htmlfill+="<br>";
    //     }
    //     document.getElementById('keyboard').innerHTML=htmlfill;

    //     for (var i=0; i<guesstext.length; i++)/* urobi pomlcky */{
    //         guessspace[i]=" _ ";
    //         document.getElementById("guessspace").innerHTML+=guessspace[i];
    //     }
    // }
    
    // function press(letter){
    //     //alert(letter);
    //     if (incorrectGuesses<8 && winCondition==false){
    //         var letterid="btn" /* (1/2) */
    //         letterid+=letter /* (2/2) Nastavi letterid na id jedneho z button elementov klavesnice*/
    //         document.getElementById(letterid).disabled = true; /*vypne gombik, nemoze byt repressed*/
    //         //alert("dwwffwfwfw");

    //         document.getElementById("guessspace").innerHTML="";
    //         correctLetter=0;
    //         for (var i = 0; i<guesstext.length; i++){
    //             //alert("gsgdsed");
    //             if (letter === "Space"){
    //                 letter = " ";
    //             }
    //             if (letter==guesstext[i].toLowerCase()){
    //                 guessspace[i]=letter;
    //                 correctLetter+=1;
    //             }
    //             document.getElementById("guessspace").innerHTML+=guessspace[i];
    //         }
    //         //alert("dwwffwfwfw");
    //         if (correctLetter==0){
    //             incorrectGuesses+=1;
    //         }
    //         document.getElementById("hangmanspace").src="static/line_icons/line"+incorrectGuesses+".png";
    //         incorrectGuesses-=1;
    //         document.getElementById("hangmanspace").alt="Incorrect guesses: "+incorrectGuesses;
    //         if (incorrectGuesses==7){
    //             document.getElementById("deathtext").innerHTML="You lost. The phrase was "+guesstext;
    //         }
    //         incorrectGuesses+=1;
    //         winCondition=true;
    //         for (var i = 0; i<guesstext.length; i++){
    //             if (guessspace[i]==" _ "){
    //                 winCondition=false;
    //             }
    //         }
    //         //alert("dwwffwfwfw");
    //         if (winCondition==true){
    //             document.getElementById("deathtext").innerHTML="You won.";
    //         }
            
    //     }
    // }
    // function randomnum(smallest,largest){
    //     return Math.floor(Math.random() * largest-smallest )+smallest;
    // }
</script>